:root {
    --primary-color: hsl(214, 100%, 45%);
    --primary-light-color: hsl(214, 100%, 60%);
    --primary-dark-color: hsl(214, 100%, 20%);
    --secondary-color: rgb(250, 254, 0);
    --secondary-light-color: rgb(253, 255, 139);
    --secondary-dark-color: rgb(227, 231, 0);
    --text-color: rgb(75, 75, 75);

    text-align: center;
    box-sizing: border-box;
}

body {
    height: 100%;
    margin: 0;
}

footer {
    background-color: var(--primary-color);
    min-height: 100px;
}

address {
    font-family: "Chakra Petch", sans-serif;
    font-size: 1.2rem;
    text-shadow: 2px 2px var(--primary-dark-color);
    display: grid;
    column-gap: 2rem;
    row-gap: 1rem;
    font-style: normal;
}

@media (min-width: 400px) {
    address {
        grid-template-columns: repeat(2, 1fr);
    }
}

h1 {
    font-family: "Chakra Petch", sans-serif;
    color: var(--text-color);
    font-size: 1.4em;
}

p {
    font-family: "Chakra Petch", sans-serif;
    font-size: 1.2em;
    line-height: 1.5;
    max-width: 40ch;
}

a {
    text-decoration: none;
    font-weight: bold;
}

/** Primary colored links **/
a:link {
    color: var(--primary-color);
}

a:visited {
    color: var(--primary-color);
}

a:hover {
    color: var(--primary-light-color);
}

a:active {
    color: var(--primary-dark-color);
}

/** Color section links */
.color-section a:link {
    color: var(--secondary-color);
}

.color-section a:visited {
    color: var(--secondary-color);
}

.color-section a:hover {
    color: var(--secondary-light-color);
}

.color-section a:active {
    color: var(--secondary-dark-color);
}

img {
    max-width: min(100%, 752px);
}

iframe {
    aspect-ratio: 16/9;
    width: 100%;
    max-width: min(100%, 752px);
    border-style: none;
}

.flexbox {
    display: flex;
    flex-flow: column;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding: 0 0.2rem;
}

.white-section {
    color: var(--text-color);
    background-color: white;
}

.color-section {
    color: white;
    background-color: var(--primary-color);
}

.hero {
    color: rgb(241, 241, 241);
    background-color: var(--primary-color);
    height: 100vh;
    min-height: 200px;
    padding: 0.3em;
}

.hero-title {
    font-family: "Press Start 2P", cursive;
    color: white;
    font-size: min(3rem, 12vw);
    text-shadow: 4px 4px var(--primary-dark-color);
}

.sub-title {
    font-family: "Press Start 2P", cursive;
    font-size: min(1.1rem, 5vw);
    text-shadow: 2px 2px var(--primary-dark-color);
}

.card-container {
    display: grid;
    max-width: min(100%, 752px);
    gap: 1rem;
    margin: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.divider {
    background-color: var(--primary-dark-color);
    height: 3px;
}
